################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SchultzNMuseumProject/FileContentIndex
/.vs
/styles/.vs/styles
