.collection-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2rem;
   
}

.artifact-img {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.field-group {
    margin-bottom: 1.5rem;
   
}

    .field-group p {
        margin: 0.5rem 0;
        line-height: 1.4;
    }

.collection-item h2 {
    margin-top: 0;
    font-size: 1.8rem;
}
.collection-item span {
    font-weight: bold;
  }
.collection-item div {
    box-sizing: border-box;
}
.artifact-details h2 {
    width: 100%;
    margin-top: 0;
    font-size: 1.8rem;
    flex-basis: 100%;
}
section, div.field-group-1 {
    display: flex;
    flex-direction: column;
}
#histories .collection-item {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto auto;
    gap: 1rem;
    box-sizing: border-box;
}
#histories .history-figure {
    grid-column: 1;
    grid-row: 1;
    
}
#histories .history-facts {
    grid-column: 2;
    grid-row: 1;
  
}
#histories .interpretive-description {
    grid-column: 1 / span 2;
    grid-row: 2;
}
.history-facts p {
    margin: 0 0 0.75em 0;
    padding-left: 1.5em;
    text-indent: -1.5em;
}
    .history-facts p span {
        font-weight: bold;
        display: block;
        margin-bottom: 0.25em;
    }
